<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Spacestore', 'none')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div th:replace="navigation :: search_nav"></div>
    <div>
        <h1>Shopping by Categories</h1>
    </div>

    <div class="row">
        <div class="col" th:each="cat : ${listCategories}">
            <div><img th:src="@{${cat.imagePath}}" width="120" /></div>
            <div>
                <a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
            </div>
        </div>
    </div>

    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>