<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header_menu">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{${SITE_LOGO}}" width="80" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Shipping &amp; Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div th:fragment="search_nav" class="row">
    <div class="col-md">

        <th:block sec:acuthorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout" />
            </form>
        </th:block>

        <nav class="navbar navbar-expand-sm bg-light">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <form class="form-inline" th:action="@{/search}" method="get">
                    <input type="search" name="keyword" class="form-control mr-sm-2"
                           th:value="${keyword}"
                           placeholder="keyword" required />
                    <input type="submit" value="Search" class="btn btn-outline-success" />
                </form>
                <ul class="navbar-nav">
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <b><a class="nav-link" th:href="@{/customer}"
                                    sec:authentication="principal.fullName"></a></b>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div th:fragment="footer_menu">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottomNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="bottomNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Privacy Notice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Returns &amp; Refunds</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div th:fragment="footer" class="text-center m-3">
        <p>[[${COPYRIGHT}]]</p>
    </div>
</div>
</body>
</html>