<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" class="col-sm-2">
    <div>
        <a th:href="@{'/p/' + ${product.alias}}">
            <img th:src="@{${product.mainImagePath}}" width="150" />
            <br/>
            <b>[[${product.shortName}]]</b>
        </a>
    </div>
    <div th:if="${product.discountPercent <= 0}">
        <div th:replace="product/product_fragment :: price_fragment(${product.price})"></div>
    </div>
    <div th:if="${product.discountPercent > 0}">
        <span style="font-size: larger; color: darkred"><div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div></span>
        <del><span><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span></del>
    </div>
</div>

<div th:fragment="price_fragment(productPrice)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

</body>
</html>