<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
        <a th:href="@{/users/new}">Add New User</a>
    </div>

    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${user}" onsubmit="return checkEmailUnique(this);">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required minlength="8"
                           maxlength="128"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required minlength="2"
                           maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required minlength="2"
                           maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}"
                           required minlength="8" maxlength="20"/>

                    <input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}"
                           minlength="8" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Roles</label>
                <div class="col-sm-8">
                    <th:block th:each="role : ${rolesList}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}"
                               th:value="${role.id}"
                               class="m-2"
                        />
                        - <small>[[${role.description}]]</small>
                        <br/>
                    </th:block>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photos:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{photos}"/>
                    <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg"
                           class="mb-2"/>
                    <img id="thumbnail" alt="preview photos" th:src="@{${user.photosImagePath}}"
                         class="img-fluid"/>
                </div>
            </div>

        </div>
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3"/>
            <input type="submit" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
        </div>
    </form>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
<script type="text/javascript">
    MAX_FILE_SIZE = 102400; // 100KB
    moduleURL = "[[@{/users}]]";

		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			userEmail = $("#email").val();
			csrfValue = $("input[name=_csrf]").val();
			userId = $("#id").val();
			params = {
					id: userId,
				email : userEmail,
				_csrf : csrfValue
			};

			$.post(url, params, function(response) {
				if (response == "OK") {
					 form.submit();
				} else if (response == "Duplicated") {
					showWarningModal("There is another user registerd with email " + userEmail);
				} else{
					showErrorModal("Unknown response from server");
				}

			}).fail(function(){
				showErrorModal("Could not connect to server");
			});
			return false;
		}


</script>
<script th:src="@{/js/common_form.js}"></script>
</html>