<!DOCTYPE>
<html html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div>&nbsp;</div>

    <div class="text-center">
        <h2>Customer Registration</h2>
        <h4>You have successfully registered as a customer</h4>
        <p>Please, check your e-mail to verify your account.</p>
        <p><a th:href="@{/login}">Sign In Here</a></p>
    </div>

    <div>&nbsp;</div>

    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>